<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="магазин рыбы">
    <meta name="keywords" content="онлайн магазин рыбы">
    <link rel="stylesheet" href="styles/outlines.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="toastr/toastr.min.css">
    <link rel="stylesheet" href="toastr/toastr.css">
    <title>Фиш Маркет</title>
    <script src="scripts/loading.js" defer></script>
    <script src="scripts/highlightMenu.js" defer></script>
    <script src="scripts/composeMenu.js" defer></script>
    <script src="scripts/loginRegister.js" defer></script>
    
    <script src="toastr/jquery.min.js" defer></script>
    <script src="toastr/toastr.min.js" defer></script>
    <script src="scripts/event_handling.js" defer></script>
    <script src="scripts/unauthorizedHandler.js" defer></script>
</head>
<body>
    {{> header }}
    {{> menu }}
    
    <main>
        <section id="my-products">
            <h1>Каталог</h1>
            <div class="product-list">
                <ul class="flex-container">
                    {{#each items}}
                    {{#unless this.purchase}} <!-- показываем только те, у которых нет покупки -->
                        <li class="product-item" data-title="{{this.title}}">
                            <div class="product-image-wrap">
                                <img src="webp-images/{{this.imagePath}}">
                                {{#if this.specialOffer}}
                                    <h4 class="Sale">{{this.specialOffer}}</h4>
                                {{/if}}
                                {{#if this.discount}}
                                    <h4 class="Discount">-{{this.discount}}%</h4>
                                {{/if}}
                            </div>
                            <div class="product-title">
                                <p class="product-text-description">{{this.title}}</p>
                            </div>
                            <div class="product-price-and-click-button">
                                <p class="product-text-description">{{this.price}} руб/кг
                                    <a href="payment/{{this.id}}">
                                        <img class="cart-images" src="images/cart.jpg">
                                    </a>
                                </p>
                            </div>
                        </li>
                        <br><br><br>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </section>
        <section id="income-statements">
            <h1>Финансовые отчеты</h1>
            <div class="table-container">
                <div class="table-row header">
                    <div>Год</div>
                    <div>Доход</div>
                    <div>Расходы</div>
                    <div>Прибыль</div>
                    <div>Рентабельность</div>
                </div>
                <div class="table-row">
                    <div>2020</div>
                    <div>1,000,000 руб</div>
                    <div>700,000 руб</div>
                    <div>300,000 руб</div>
                    <div>30%</div>
                </div>
                <div class="table-row">
                    <div>2021</div>
                    <div>1,200,000 руб</div>
                    <div>800,000 руб</div>
                    <div>400,000 руб</div>
                    <div>33%</div>
                </div>
                <div class="table-row">
                    <div>2022</div>
                    <div>1,500,000 руб</div>
                    <div>900,000 руб</div>
                    <div>600,000 руб</div>
                    <div>40%</div>
                </div>
                <div class="table-row">
                    <div>2023</div>
                    <div>1,800,000 руб</div>
                    <div>1,000,000 руб</div>
                    <div>800,000 руб</div>
                    <div>44%</div>
                </div>
                <div class="table-row">
                    <div>2024</div>
                    <div>2,000,000 руб</div>
                    <div>1,100,000 руб</div>
                    <div>900,000 руб</div>
                    <div>45%</div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-banner">
            <a href="https://example.com" target="_blank">
                <img src="images/advert.jpg">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href='#' >О нас</a></li>
                <li><a href='#' >Контакты</a></li>
                <li><a href='#' >Правила сайта</a></li>
            </ul>
        </nav>
        <p >Телефон: +123456789</p>
        <p >Email: mail@mail.ru</p>
    </footer>    


</body>
</html>